@import "./normalize.scss";
@import "./font.scss";
/*------------------------------------------------------*/
/*Screen size*/
$NoteBookL:1440px;
$NoteBook:1024px;
$Tablet:768px;
$BigPhone:425px;
$MediumPhone:375px;
$MiniPhone:320px;
/*Screen size*/

/*------------------------------------------------------*/
body{
  font-size: ;
  font-family: ;
  background-color: ;
}
[class*="__container"]{
  max-width:;
}
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/



/*------------------------------------------------------*/
@import "./header.scss";
@import "./footer.scss";
@import "./bem.scss";